body {
	background: url(../images/seamless_paper_texture.png);
	padding-top: 50px;

}

.shot img{
	width: 3000px;

}

.shot p{
	font-size: 16px;
	margin-top: 5px;
}

.shot{
	background-color: white;
	border-radius: 4px 4px 0 0;
}

.item-title{
	font-size: 22px;
	color: black;

}

.item-title:hover{
   text-decoration: none;
   color: rgb(245, 190, 0);
}
