body{
	padding-top: 50px;

	background-color: #6fcdf1;
}

.panel-default{
	margin-top: 10px;
}

.logo{
	display: inline-block;
	margin-top: 20px;
}

li{
	list-style: none;
}

div.user-dashboard{
	border: none;
}
.user-dashboard .panel-heading{
	background-color: #0084B4;
	height: 95px;
}


ul.user-infos{
	display: table;
	padding-left: 0;
}
.user-infos li{
	margin-left: 10px;
	display: table-cell;
	width: 1%;
}

.user-infos a{
	text-decoration: none;
}

.statLabel{
	color: #979797;
}

.statValue{
	font-size: 18px;
	font-weight: 500;
}

.user-infos li span{
	display: block;
}

.current-user-avatar{
	display: inline-block;
}


.current-user-avatar img{
	margin-top: -70px;

}

.current-user {
	display: inline-block;
}

#new-tweet{
	padding: 10px;
	background-color: #E5F2F7;
	border-radius: 4px;
	height: 55px;
}


.user-name{
	display: block;
	font-weight: 700;
	font-size: 18px;
}

#timeline{
	margin-top: 10px;
}

#content-main-heading{
	font-size: 24px;
	font-weight: 500;
}

.twitter-id{
	color: #898989;
}

.timestamp{
	color: #898989;
}

.more{
	color: #898989;
}

.item-action{
	margin-left: 10px;
	font-size: 12px;
	color:  #eaeaea;
}

li.list-group-item:hover{
	background-color: #eaeaea;
}
li.list-group-item:hover .item-action{
	color: #979797;
}


.recommend-users>.header span{
	font-size: 20px;
	font-weight: 600;
}

.recommend-users>.header a{
	font-size: 12px;
}
#dashboard-right{
	margin-top: 10px;
}

.follow-btn span{
	margin-right: 5px;
}

#find-people-you-known span{
	margin-right: 5px;
}

#links a{
	font-size: 12px;
}